<!DOCTYPE html>
<html>
<head>
  <title>{{ title }} - {{ page.title }}</title>
  <meta charset="UTF-8">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="Navbar">
    <div class="Container">
      <a href="#" class="Navbar-logo">SRPH</a>
      <div class="Navbar-links">
        <a href="#" class="--active">Home</a>
        <a href="#">Work</a>
      </div>
    </div>
  </nav>
  {{{contents}}}
  <script src="http://localhost:35729/livereload.js"></script>
</body>
</html>